@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #e2e2e2, #007BFF);
    color: #333;
}

.form-container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active {
    display: block;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

input, select {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #007BFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #0056b3;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
}

p a {
    color: #7494ec;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
